<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PAGINA VIDEOS ONLINE</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    
  <link rel="stylesheet" href="/css/general.css"/>
</head>

<body class="detalle-producto">
  <h1>DETALLE DE PRODUCTO</h1>
  <!-- HEADER -->
  <header>
    <nav>
      <!-- <ol></ol> order list -->
      <ul> <!-- unordered list -->
        <li> <!-- List Item -->
          <figure>
            <img src="" alt=""> <!-- logo -->
          </figure>
        </li>
        <li>
          <button type="button">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </li>
        <li><a href="">
            <span>2163</span>
            Multijugador
          </a></li>
        <li><a href="">Acción</a></li>
        <li><a href="">Aventura</a></li>
        <li><a href="">Carreras</a></li>
        <li><a href="">Clásicos</a></li>
        <li><a href="">Colecciones</a></li>
        <li><a href="">Gestión</a></li>
        <li><a href="">Infantiles</a></li>
        <li><a href="">Mesa</a></li>
        <li><a href="">Más Juegos</a></li>
        <li>
          <a href="">
            <i class="fa-regular fa-user"></i>
          </a>
        </li>
      </ul>
    </nav>

    <div> <!-- Sub menu MULTIJUGADOR -->
      <ul>
        <li>
          <a href="/2Jugadores">
            <img src="" alt="">
            <p>Juegos de 2 jugadores</p>
          </a>
        </li>
        <li>
          <a href="/MMORPG">
            <img src="" alt="">
            <p>Juegos MMORPG</p>
          </a>
        </li>
        <li>
          <a href="/.io">
            <img src="" alt="">
            <p>Juegos .io</p>
          </a>
        </li>
      </ul>
    </div>
  </header>

  <main>
   
  </main>


</body>

</html>