<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <!-- LOGO -->
        <figure>
            <img src="/img/logo-mercado-liebre.png" alt="logo-mercado-liebre">
        </figure>

        <!-- BUSCADOR -->
        <form action="/" class="contenedor-buscador">
            <input type="text" placeholder="Buscar productos, marcas">
            <button><i class="fas fa-search"></i></button>
        </form>

        <!-- COMPRA -->
        <div class="contenedor-compra">
            <i class="fas fa-hand-holding-usd"> </i>
            <span class="text">
                Comprá en cuotas y sin tarjeta de crédito
            </span>
        </div>

        <!-- MENU -->
        <nav class="contenedor-menu">
            <ul>
                <li>
                    <a href="ofertas">Ofertas</a>
                </li>
                <li>
                    <a href="tiendasOficiales">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="vender">Vender</a>
                </li>
                <li>
                    <a href="ayuda">Ayuda</a>
                </li>
            </ul>
        </nav>

        <!-- OPCIONES -->
        <nav class="contenedor-opciones">
            <ul>
                <li>
                    <a href="creaTuCuenta">Creá tu Cuenta<i class="far fa-id-card"></i>
                    </a>
                </li>
                <li>
                    <a href="ingresa">Ingresá<i class="fas fa-sign-in-alt"></i>
                    </a>
                </li>
                <li>
                    <a href="misCompras">Mis Compras<i class="fas fa-shopping-basket"></i>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- BURGER MENU -->
        <div class="container-burger-menu">
            <button class="burger-menu" type="button">
                <i class="fas fa-bars"></i>
            </button>
        </div>

    </header>

   <!--  <main class="home">

        <figure class="banner">
            <img src="/img/img-home-banner.png" alt="img-home-banner">
        </figure>

        <section>
            <h5>Basado en tu última visita</h5>
            <article>
                <img src="/img/img-cafetera-moulinex.png" alt="img-cafetera-moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h5>Cafetera Moulinex</h5>
            </article>
            <article>
                <img src="/img/img-macbook-pro-2019.png" alt="img-macbook-pro-2019">
                <p>$230.000</p>
                <p>20% of</p>
                <h5>MacBook Pro 2019</h5>
            </article>
            <article>
                <img src="/img/img-samsung-galaxy-s10.png" alt="img-samsung-galaxy-s10">
                <p>$70.500</p>
                <p>10% of</p>
                <h5>Samsung Galaxy S10</h5>
            </article>
            <article>
                <img src="/img/img-tv-samsung-smart.png" alt="img-tv-samsung-smart">
                <p>$23.200</p>
                <p>5% of</p>
                <h5>SmartTv Samsung 43"</h5>
            </article>
        </section>
        <section>
            <h5>Ofertas</h5>
            <article>
                <img src="/img/img-cafetera-moulinex.png" alt="img-cafetera-moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h5>Cafetera Moulinex</h5>
            </article>
            <article>
                <img src="/img/img-macbook-pro-2019.png" alt="img-macbook-pro-2019">
                <p>$230.000</p>
                <p>20% of</p>
                <h5>MacBook Pro 2019</h5>
            </article>
            <article>
                <img src="/img/img-samsung-galaxy-s10.png" alt="img-samsung-galaxy-s10">
                <p>$70.500</p>
                <p>10% of</p>
                <h5>Samsung Galaxy S10</h5>
            </article>
            <article>
                <img src="/img/img-tv-samsung-smart.png" alt="img-tv-samsung-smart">
                <p>$23.200</p>
                <p>5% of</p>
                <h5>SmartTv Samsung 43"</h5>
            </article>
        </section>
    </main> -->

    <footer>
        <section class="op1">
            <a href="tarjeta"><i class="fas fa-credit-card"></i></a>
            <h5>Pagá con tarjeta o en efectivo</h5>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </section>
        <section class="op2">
            <a href="regalo"><i class="fas fa-gift"></i></a>
            <h5>Envío gratis desde $ 2.500</h5>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </section>
        <section class="op3">
            <a href="seguridad"><i class="fas fa-user-shield"></i></a>
            <h5>Seguridad, de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </section>
        <div>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>

</body>

</html>