<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GLIDER SLIDER</title>

    <!-- BOOTSTRAP STYLES -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- BOOTSTRAP JAVASCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  
    <!-- GLIDER SLIDER STYLES -->
    <link rel="stylesheet" href="/css/library/glider.min.css">

    <!-- GLIDER SLIDER JAVASCRIPT -->
    <script src="/js/library/glider.min.js" defer></script>

    <!-- GLIDER CONFIG LOCAL -->
    <script src="/js/glider.config.js" defer></script>

    <!-- STYLES LOCAL -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">PRACTICAS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/carousel-bootstrap">Carousel Bootstrap</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/slider-glider">Slider Glider</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/input-require">Input Require</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/positions">Positions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/transitions-animations">Transition/Animations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/gallery-images">Gallery Images</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>

    <div class="container">
      <div class="row">
        <div class="col-12 text-center mt-5">
          <h1>GLIDER</h1>
        </div>
        <div class="mx-auto">

          <div class="glider-contain">
            <div class="glider">
              <div>
                <img src="https://http2.mlstatic.com/D_NQ_NP_2X_995781-MLA47429099433_092021-F.webp" alt="img1">
              </div>
              <div>
                <img src="https://http2.mlstatic.com/D_NQ_NP_2X_884234-MLA49770290597_042022-F.webp" alt="img2">
              </div>
              <div>
                <img src="https://http2.mlstatic.com/D_NQ_NP_2X_953201-MLA54510200029_032023-F.webp" alt="img3">
              </div>
              <div>
                <img src="https://http2.mlstatic.com/D_NQ_NP_961956-MLA53778722211_022023-O.webp" alt="img4">
              </div>

              <div>
                <img src="https://http2.mlstatic.com/D_NQ_NP_603269-MLA53430869691_012023-O.webp" alt="img3">
              </div>
              <div>
                <img src="https://http2.mlstatic.com/D_NQ_NP_667746-MLA68945819573_042023-O.webp" alt="img4">
              </div>
            </div>
          
            <button aria-label="Previous" class="glider-prev">«</button>
            <button aria-label="Next" class="glider-next">»</button>
            <div role="tablist" class="dots"></div>
          </div>

        </div>
      </div>
    </div>



  </main>

</body>
</html>