:root {
  /* FUENTES */
  --tipografia: 'Roboto', sans-serif;

  /* COLORES */
  --azul: #03264C;
  --gris-oscuro: #666;
  --verde: #39b54a;
  --amarillo: #EAC926;
  --celeste: #1259c3;
  --gris-claro: #ebebeb;
  --blanco: #f2f2f2;

  /* TAMAÑOS */
  --cuerpos-de-texto: 12px;
  --titulares: 24px;
  --precios: 18px;
  --descuentos: 16px;
  --descripciones: 16px;
}