<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ESTRUCTURA PARA ECOMMERCE</title>
  <link href="/stylesheet/style.css" rel="stylesheet">
</head>

<body>
  <!-- <main>   // main>div*5
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </main> -->

  <main class="home">
    <!-- 1 -->
    <div class="text-container one">
      <!-- <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, neque.</p> -->
      <img src="https://elcomercio.pe/resizer/agnne3tfHp7MsaZqVABZbMD8BJY=/1200x900/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/6FUBT6XQXNHHNFOMCHIT7I34NA.jpg" alt="img1">
    </div>

    <!-- 2 -->
    <div class="text-container two">
      <!-- <p class="text">Accusamus illum et maxime, est voluptates non sed perspiciatis quaerat.</p> -->
      <img src="https://media.a24.com/p/d3196b267931cd1a227bdbb14fbab831/adjuntos/296/imagenes/008/768/0008768613/1200x675/smart/naruto-netflix-animejpg.jpg" alt="img2">
    </div>

    <!-- 3 -->
    <div class="text-container three">
     <!--  <p class="text">Magnam officiis voluptatum harum in vitae et esse! Iste, sint.</p> -->
     <img src="https://img2.rtve.es/i/?w=1600&i=1671282760236.jpg" alt="img3">
    </div>

    <!-- 4 -->
    <div class="text-container four">
     <!--  <p class="text">Consequuntur deleniti dignissimos suscipit itaque officia labore molestiae cupiditate accusamus?
      </p> -->
      <img src="/imgs/img4.png" alt="img4">
    </div>

    <!-- 5 -->
    <div class="text-container five">
      <!-- <p class="text">Vel id earum sint inventore, error quibusdam praesentium molestias eveniet.</p> -->
      <img src="https://i.blogs.es/1e0f03/sailor-moon/450_1000.jpg" alt="img5">
    </div>
  </main>

</body>

</html>